<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{1651,151}</string>
				<key>spriteSourceSize</key>
				<string>{1716,208}</string>
				<key>textureRect</key>
				<string>{{0,1280},{1651,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-7}</string>
				<key>spriteSize</key>
				<string>{733,138}</string>
				<key>spriteSourceSize</key>
				<string>{748,154}</string>
				<key>textureRect</key>
				<string>{{0,1432},{733,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-7}</string>
				<key>spriteSize</key>
				<string>{646,154}</string>
				<key>spriteSourceSize</key>
				<string>{662,170}</string>
				<key>textureRect</key>
				<string>{{0,1571},{646,154}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{532,153}</string>
				<key>spriteSourceSize</key>
				<string>{547,168}</string>
				<key>textureRect</key>
				<string>{{647,1571},{532,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-320.5}</string>
				<key>spriteSize</key>
				<string>{2280,1279}</string>
				<key>spriteSourceSize</key>
				<string>{2280,1920}</string>
				<key>textureRect</key>
				<string>{{0,0},{2280,1279}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
			<key>size</key>
			<string>{2280,1725}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
		</dict>
	</dict>
</plist>